$body-bg: #0f0f0f;
$main-color: #f43f5e;
$txt-white: #fff;
// $txt-black: #2f2e31;
$separate-line: #1c1917;
$txt-black: #44403c;
$white: #fff;
$black: #000;
$rose-50: #fff1f2;
$rose-100: #ffe4e6;
$rose-200: #fecdd3;
$rose-300: #fda4af;
$rose-400: #fb7185;
$rose-500: #f43f5e;
$rose-600: #e11d48;
$rose-700: #be123c;
$rose-800: #9f1239;
$rose-900: #881337;

$width-wide: 1400px;
$gutters-c: 4px;
$gutters-m: 8px;
$gutters-l: 12px;

$header-height: 100px;
$sidebar-width: 240px;
$sidebar-width-shrink: 60px;
$sidebar-right-width: 350px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$font-family: 'Roboto', sans-serif;

$text-xs: 0.75rem;
$line-xs: 1rem;
$text-sm: 0.875rem;
$line-sm: 1.25rem;
$text-base: 1rem;
$line-base: 1.5rem;
$text-lg: 1.125rem;
$line-lg: 1.75rem;
$text-xl: 1.25rem;
$line-xl: 1.75rem;
$text-2xl: 1.5rem;
$line-2xl: 2rem;